doctype html
html
  head
    title MirrorX
    link(href='//cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css' rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    link(href='styles.css' rel='stylesheet')

  body
    include dock
    include tdw-display
    include music-player

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='scripts.js')